*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
.idea/workspace.xml
.gradle/3.3/taskArtifacts/fileHashes.bin
.gradle/3.3/taskArtifacts/fileSnapshots.bin
.gradle/3.3/taskArtifacts/taskArtifacts.bin
.gradle/3.3/taskArtifacts/taskArtifacts.lock
*.ap_
*.apk
